<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amap_location_quick">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application>
        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>
